<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fl.getui">

    <!-- iBeancon 功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="GETUI_APPID"
            android:value="${GETUI_APPID}" />
        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
<!--        <service-->
        <!--            android:name="fl.getui.GeTuiPlugin$IntentService"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <!--        &lt;!&ndash; 配置SDK核心服务 &ndash;&gt;-->
        <!--        <service-->
        <!--            android:name="fl.getui.GeTuiPlugin$GTPushService"-->
        <!--            android:exported="true"-->
        <!--            android:label="PushService"-->
        <!--            android:process=":pushservice"-->
        <!--            tools:ignore="ExportedService" />-->

    </application>
</manifest>
